

<web-app>
    <display-name>Archetype Created Web Application</display-name>



    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>myProject.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>myProject.WelcomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>myProject.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>

